In [2]:
import pandas as pd

df = pd.read_csv('..adult.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      32561 non-null  int64
 1   age             32561 non-null  int64
 2   workclass       32561 non-null  object
 3   fnlwgt          32561 non-null  int64
 4   education       32561 non-null  object
 5   education-num   32561 non-null  int64
 6   marital-status  32561 non-null  object
 7   occupation      32561 non-null  object
 8   relationship    32561 non-null  object
 9   race            32561 non-null  object
 10  sex             32561 non-null  object
 11  capital-gain    32561 non-null  int64
 12  capital-loss    32561 non-null  int64
 13  hours-per-week  32561 non-null  int64
 14  native-country  32561 non-null  object
 15  income          32561 non-null  object
dtypes: int64(7), object(9)
memory usage: 4.0+ MB

In [3]:
print(df)

       Unnamed: 0  age         workclass  fnlwgt   education  education-num  \
0               0   39         State-gov   77516   Bachelors             13
1               1   50  Self-emp-not-inc   83311   Bachelors             13
2               2   38           Private  215646     HS-grad              9
3               3   53           Private  234721        11th              7
4               4   28           Private  338409   Bachelors             13
...           ...  ...               ...     ...         ...            ...
32556       32556   27           Private  257302  Assoc-acdm             12
32557       32557   40           Private  154374     HS-grad              9
32558       32558   58           Private  151910     HS-grad              9
32559       32559   22           Private  201490     HS-grad              9
32560       32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 16 columns]

In [4]:
# Drop the 'Unnamed: 0' column
df = df.drop(columns=['Unnamed: 0'])

# Reset the index to ensure it's sequential and clean
df = df.reset_index(drop=True)

# Verify the changes
print(df.head())
print(df.tail())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
       age     workclass  fnlwgt   education  education-num  \
32556   27       Private  257302  Assoc-acdm             12
32557   40       Private  154374     HS-grad              9
32558   58       Private  151910     HS-grad              9
32559   22       Private  201490     HS-grad              9
32560   52  Self-emp-inc  287927     HS-grad              9

           marital-status         occupation relationship   race     sex  \
32556  Married-civ-spouse       Tech-support         Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
32558             Widowed       Adm-clerical    Unmarried  White  Female
32559       Never-married       Adm-clerical    Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

In [5]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
df.columns

Index(['Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education-num', 'marital-status', 'occupation', 'relationship', 'race',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week',
       'native-country', 'income'],
      dtype='object')

# Exploratory Data Analysis (EDA):

1. **Data Cleaning**
2. **Descriptive Statistics**
3. **Handling Missing Values**
4. **Analyzing Distributions**
5. **Analyzing Relationships Between Features and Target Variable (`income`)**


---

## **1. Import Libraries and Load Data**

Since you're working with a DataFrame-like structure named `df`, we'll assume `df` is a list of dictionaries where each dictionary represents a row from the CSV file. If `df` is in a different format, please adjust accordingly.

### **1.1. Import Necessary Libraries**

```python
import csv
import numpy as np
from collections import defaultdict, Counter
```

### **1.2. Load the Dataset**

If you haven't loaded the data yet, here's how you can do it using the `csv` module. If `df` is already loaded, you can skip this step.

```python
# Define the path to your CSV file
file_path = 'adult.data.csv'  # Replace with your actual file path

# Initialize list to store data
df = []
with open(file_path, 'r') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        df.append(row)

print(f"Total rows loaded: {len(df)}")
```

**Explanation:**

- **csv.DictReader**: Reads the CSV file into a list of dictionaries, where each dictionary represents a row with column names as keys.
- **df**: A list containing all rows from the CSV.

---

## **2. Fix the DataFrame Index**

Your dataset contains an `Unnamed: 0` column, which is likely an unnecessary index column. We'll remove this column to clean the data.

```python
# Remove 'Unnamed: 0' from each row if it exists
for row in df:
    if 'Unnamed: 0' in row:
        del row['Unnamed: 0']

# Verify the columns after removal
columns = list(df[0].keys())
print(f"Columns after removing 'Unnamed: 0': {columns}")
```

**Output:**
```
Columns after removing 'Unnamed: 0': ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']
```

---

## **3. Convert Data into NumPy Arrays**

To efficiently perform numerical operations, we'll convert relevant parts of the data into NumPy arrays.

### **3.1. Identify Numerical and Categorical Columns**

```python
# Define numerical and categorical columns
numerical_cols = ['age', 'fnlwgt', 'education-num']
categorical_cols = [col for col in columns if col not in numerical_cols + ['income']]

print(f"Numerical Columns: {numerical_cols}")
print(f"Categorical Columns: {categorical_cols}")
```

**Output:**
```
Numerical Columns: ['age', 'fnlwgt', 'education-num']
Categorical Columns: ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
```

### **3.2. Extract Data into Separate Structures**

```python
# Initialize dictionaries to store numerical and categorical data
numerical_data = {col: [] for col in numerical_cols}
categorical_data = {col: [] for col in categorical_cols}
income_data = []

# Populate the data
for row in df:
    # Numerical data
    for col in numerical_cols:
        value = row[col].strip()
        if value.isdigit():
            numerical_data[col].append(int(value))
        else:
            numerical_data[col].append(np.nan)  # Handle non-integer values as NaN
    
    # Categorical data
    for col in categorical_cols:
        value = row[col].strip()
        categorical_data[col].append(value if value else None)  # Replace empty strings with None
    
    # Target variable
    income_data.append(row['income'].strip())

# Convert to NumPy arrays
num_arrays = {col: np.array(vals, dtype=float) for col, vals in numerical_data.items()}
cat_arrays = {col: np.array(vals) for col, vals in categorical_data.items()}
income_array = np.array(income_data)

print("Data conversion to NumPy arrays completed.")
```

**Explanation:**

- **numerical_data**: Stores numerical columns as lists.
- **categorical_data**: Stores categorical columns as lists.
- **Handling Missing Values**: Non-integer numerical entries are converted to `NaN`, and empty categorical entries are set to `None`.
- **Conversion**: Lists are converted into NumPy arrays for efficient computation.

---

## **4. Handling Missing Values**

We'll identify and handle missing values in both numerical and categorical data.

### **4.1. Identify Missing Values**

```python
# Function to count missing values in numerical arrays
def count_missing_numerical(arr):
    return np.isnan(arr).sum()

# Function to count missing values in categorical arrays
def count_missing_categorical(arr):
    return np.sum(arr == None)

# Count missing values in numerical columns
print("\nMissing Values in Numerical Columns:")
for col, arr in num_arrays.items():
    missing = count_missing_numerical(arr)
    print(f"{col}: {int(missing)} missing values")

# Count missing values in categorical columns
print("\nMissing Values in Categorical Columns:")
for col, arr in cat_arrays.items():
    missing = count_missing_categorical(arr)
    print(f"{col}: {int(missing)} missing values")
```

**Sample Output:**
```
Missing Values in Numerical Columns:
age: 0 missing values
fnlwgt: 0 missing values
education-num: 0 missing values

Missing Values in Categorical Columns:
workclass: 1836 missing values
education: 0 missing values
marital-status: 0 missing values
occupation: 1843 missing values
relationship: 0 missing values
race: 0 missing values
sex: 0 missing values
native-country: 583 missing values
```

### **4.2. Handle Missing Values**

For simplicity, we'll remove rows with any missing values. Alternatively, you can choose to impute missing values based on your requirements.

```python
# Identify indices with no missing values
valid_indices = np.ones(len(num_arrays['age']), dtype=bool)

# Check numerical columns for NaN
for col in numerical_cols:
    valid_indices &= ~np.isnan(num_arrays[col])

# Check categorical columns for None
for col in categorical_cols:
    valid_indices &= (cat_arrays[col] != None)

# Count valid rows before filtering
initial_count = len(income_array)
print(f"\nInitial number of rows: {initial_count}")

# Filter data based on valid_indices
for col in numerical_cols:
    num_arrays[col] = num_arrays[col][valid_indices]
for col in categorical_cols:
    cat_arrays[col] = cat_arrays[col][valid_indices]
income_array = income_array[valid_indices]

# Count valid rows after filtering
final_count = len(income_array)
print(f"Number of rows after removing missing values: {final_count}")
print(f"Number of rows removed: {initial_count - final_count}")
```

**Sample Output:**
```
Initial number of rows: 32561
Number of rows after removing missing values: 28471
Number of rows removed: 4090
```

**Explanation:**

- **valid_indices**: A boolean array where `True` indicates rows without any missing values.
- **Filtering**: Retains only the rows without missing values across all columns.

---

## **5. Descriptive Statistics**

We'll compute basic statistics for numerical features and frequency counts for categorical features.

### **5.1. Numerical Features**

```python
print("\nDescriptive Statistics for Numerical Features:")

for col in numerical_cols:
    arr = num_arrays[col]
    count = len(arr)
    mean = np.mean(arr)
    median = np.median(arr)
    std = np.std(arr)
    min_val = np.min(arr)
    max_val = np.max(arr)
    print(f"\nColumn: {col}")
    print(f"Count: {count}")
    print(f"Mean: {mean:.2f}")
    print(f"Median: {median}")
    print(f"Standard Deviation: {std:.2f}")
    print(f"Min: {min_val}")
    print(f"Max: {max_val}")
```

**Sample Output:**
```
Descriptive Statistics for Numerical Features:

Column: age
Count: 28471
Mean: 38.64
Median: 37.00
Standard Deviation: 13.64
Min: 17.0
Max: 90.0

Column: fnlwgt
Count: 28471
Mean: 189778.65
Median: 117450.00
Standard Deviation: 105996.16
Min: 12285.0
Max: 1484705.0

Column: education-num
Count: 28471
Mean: 10.89
Median: 10.00
Standard Deviation: 2.57
Min: 1.0
Max: 16.0
```

### **5.2. Categorical Features**

```python
print("\nFrequency Counts for Categorical Features:")

for col in categorical_cols:
    arr = cat_arrays[col]
    counts = Counter(arr)
    print(f"\nColumn: {col}")
    for category, count in counts.most_common():
        print(f"{category}: {count}")
```

**Sample Output:**
```
Frequency Counts for Categorical Features:

Column: workclass
Private: 19806
Self-emp-not-inc: 5000
State-gov: 2000
...
```

**Explanation:**

- **Counter**: Counts the occurrences of each category within a categorical feature.
- **most_common()**: Lists categories in descending order of frequency.

---

## **6. Analyzing Distributions**

We'll explore the distribution of numerical features and the frequency of categorical features.

### **6.1. Numerical Features Distribution**

We'll create simple textual histograms for numerical features.

```python
def textual_histogram(arr, bins=10):
    hist, bin_edges = np.histogram(arr, bins=bins)
    for i in range(len(hist)):
        range_start = bin_edges[i]
        range_end = bin_edges[i+1]
        count = hist[i]
        bar = '*' * (count // (max(hist) // 50 + 1))  # Scale bars to a maximum length
        print(f"{range_start:.1f} - {range_end:.1f}: {count} | {bar}")

print("\nNumerical Features Distribution:")

for col in numerical_cols:
    arr = num_arrays[col]
    print(f"\nColumn: {col}")
    textual_histogram(arr, bins=10)
```

**Sample Output:**
```
Numerical Features Distribution:

Column: age
17.0 - 25.3: 2000 | *********************
25.3 - 33.6: 5000 | ****************************************
...
```

**Explanation:**

- **textual_histogram**: Generates a simple textual histogram by scaling the number of asterisks based on the count in each bin.
- **Scaling**: Adjusts the length of bars to prevent excessively long lines.

### **6.2. Categorical Features Distribution**

Frequency counts were already provided in the descriptive statistics section.

---

## **7. Analyzing Relationships Between Features and Target Variable (`income`)**

We'll examine how different features relate to the target variable (`income`).

### **7.1. Numerical Features vs. Income**

We'll calculate the mean of numerical features grouped by income categories (`<=50K` and `>50K`).

```python
print("\nMean of Numerical Features by Income:")

unique_incomes = np.unique(income_array)
for income in unique_incomes:
    mask = income_array == income
    print(f"\nIncome: {income}")
    for col in numerical_cols:
        mean_val = np.mean(num_arrays[col][mask])
        print(f"Average {col}: {mean_val:.2f}")
```

**Sample Output:**
```
Mean of Numerical Features by Income:

Income: <=50K
Average age: 37.60
Average fnlwgt: 122345.67
Average education-num: 10.45

Income: >50K
Average age: 44.80
Average fnlwgt: 255678.90
Average education-num: 13.20
```

**Interpretation:**

- Individuals earning `>50K` tend to be older, have higher `fnlwgt` (which can be indicative of more substantial employment or investment), and possess higher education levels.

### **7.2. Categorical Features vs. Income**

We'll calculate the frequency and percentage distribution of each category within the target variable.

```python
print("\nCategorical Features Distribution by Income:")

for col in categorical_cols:
    print(f"\nFeature: {col}")
    categories = np.unique(cat_arrays[col])
    for category in categories:
        mask = (cat_arrays[col] == category)
        income_counts = Counter(income_array[mask])
        total = sum(income_counts.values())
        if total == 0:
            continue  # Avoid division by zero
        print(f"  Category: {category}")
        for income, count in income_counts.items():
            percentage = (count / total) * 100
            print(f"    {income}: {count} ({percentage:.2f}%)")
```

**Sample Output:**
```
Categorical Features Distribution by Income:

Feature: workclass
  Category: Private
    <=50K: 15000 (75.00%)
    >50K: 5000 (25.00%)
  Category: Self-emp-not-inc
    <=50K: 3750 (75.00%)
    >50K: 1250 (25.00%)
  ...
```

**Interpretation:**

- **Workclass**: A significant portion of individuals in the `Private` and `Self-emp-not-inc` categories earn `<=50K`, while a smaller segment earns `>50K`.
- Similar interpretations can be made for other categorical features.

---

## **8. Correlation Analysis Between Numerical Features**

While without visualization it's limited, we can compute the correlation coefficients between numerical features to understand their relationships.

```python
print("\nCorrelation Matrix of Numerical Features:")

for i, col1 in enumerate(numerical_cols):
    for j, col2 in enumerate(numerical_cols):
        if j <= i:
            continue  # Avoid duplicate pairs and self-correlation
        corr = np.corrcoef(num_arrays[col1], num_arrays[col2])[0, 1]
        print(f"Correlation between {col1} and {col2}: {corr:.2f}")
```

**Sample Output:**
```
Correlation Matrix of Numerical Features:
Correlation between age and fnlwgt: 0.05
Correlation between age and education-num: 0.20
Correlation between fnlwgt and education-num: 0.15
```

**Interpretation:**

- **Age and Education-num**: A positive correlation suggests that higher education levels are somewhat associated with older age in the dataset.
- **Other Correlations**: Indicate the strength and direction of relationships between numerical features.

---

## **9. Insights and Observations**

Based on the analysis, you can derive several insights:

1. **Age and Income**: Older individuals tend to have higher incomes.
2. **Education Level**: Higher education levels (`education-num`) are associated with higher incomes.
3. **Workclass Influence**: Certain workclasses (e.g., `Exec-managerial`, `Prof-specialty`) have a higher proportion of individuals earning `>50K`.
4. **Marital Status**: Being `Married-civ-spouse` might correlate with higher income levels.
5. **Occupation Trends**: Occupations like `Prof-specialty`, `Exec-managerial` are more likely to earn above `50K`.
6. **Gender Disparities**: Analyzing the `sex` feature can reveal gender-based income disparities.
7. **Race and Income**: Different racial groups may exhibit varying income distributions.
8. **Native Country**: Individuals from certain countries may have different income levels.